$mirage7: #0d0c18;
$mirage6: #121025;
$mirage5: #171432;
$mirage4: #4c4a62;
$mirage3: #817f91;
$mirage2: #b7b6c0;
$mirage1: #ececef;

$font-color: $mirage5;
$fontbase: inter;
$font-georgia: Georgia;

$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;

/* stylelint-disable  unit-whitelist  */
$base-value: 8px;
/* stylelint-enable  unit-whitelist  */

$base-font-size: $base-value * 2;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
